<div class= "col-md-10">
	<div class="row state-overview">
		<div class="col-lg-4 col-sm-4">
			<section class="panel">
				<div class="symbol terques">
					<i class="fa fa-credit-card"></i>
				</div>
				<div class="value">
					<h1 class="count">
					<%if current_employee %>
						<%= current_employee.total_leave %>
					<%else%>
						<%= current_user.total_leave %>	
					<%end%>		
					<p>Total Leave</p>		
				</div>
			</section>
		</div>
	<div class="col-lg-4 col-sm-4">
		<section class="panel">
			<div class="symbol red">
				<i class="fa fa-folder-open"></i>
			</div>
			<div class="value">
				<h1 class=" count2">
				<% if current_employee %>
					<%=  current_employee.rejected_leaves %>
				<%else%>
					<%= current_user.rejected_leaves %>	
				<%end%>
				<p>Rejected Leaves</p>
			</div>
		</section>
	</div>
	<div class="col-lg-4 col-sm-4">
		<section class="panel">
			<div class="symbol yellow">
				<i class="fa fa-bar-chart-o"></i>
			</div>
			<div class="value">
				<h1 class=" count3">
				<% if current_employee %>
					<%= current_employee.approved_leaves %>
				<%else%>
					<%= current_user.approved_leaves %>
				<%end%>
				</h1>
				<p>Total Approved</p>
			</div>
		</section>
	</div>
</div>
</div>
