<div class= "col-md-10">
	<div class="row state-overview">
		<div class="col-lg-4 col-sm-4">
			<section class="panel">
				<div class="symbol terques">
					<i class="fa fa-credit-card"></i>
				</div>
				<div class="value">
					<h1 class="count">
					<%if current_employee %>
						<%= current_employee.total_leave %>
					<%else%>
						<%total_leave = 0%>
						<% @employees.each do |employee|%>
						<% total_leave= total_leave+employee.total_leave.to_i%>
						<% end %>
						<%= total_leave%>
					<%end%>		
					<p>Total Leave</p>		
				</div>
			</section>
		</div>
	<div class="col-lg-4 col-sm-4">
		<section class="panel">
			<div class="symbol red">
				<i class="fa fa-folder-open"></i>
			</div>
			<div class="value">
				<h1 class=" count2">
				<% if current_employee %>
					<%=  current_employee.rejected_leaves %>
				<%else%>
						<%rejected_leave = 0%>
						<% @employees.each do |employee|%>
						<% rejected_leave = rejected_leave + employee.rejected_leaves.to_i %>
						<% end %>
						<%= rejected_leave%>
				<%end%>
				<p>Rejected Leaves</p>
			</div>
		</section>
	</div>
	<div class="col-lg-4 col-sm-4">
		<section class="panel">
			<div class="symbol yellow">
				<i class="fa fa-bar-chart-o"></i>
			</div>
			<div class="value">
				<h1 class=" count3">
				<% if current_employee %>
					<%= current_employee.approved_leaves %>
				<%else%>
						<%approved_leave = 0%>
						<% @employees.each do |employee|%>
						<% approved_leave= approved_leave+ employee.approved_leaves.to_i %>
						<% end %>
						<%= approved_leave %>
				<%end%>
				</h1>
				<p>Total Approved</p>
			</div>
		</section>
	</div>
</div>
</div>
