<div class="panel panel-primary">
  <div class="panel-body">
    <div class="row invoice-list">
      <div class="col-lg-4 col-sm-4">
        <p>
          <strong>Task:</strong>
          <%= @leave.task %>
        </p>
      </div>
      <div class="col-lg-4 col-sm-4">
        <p>
          <strong>Leave From:</strong>
          <%= @leave.leave_from %>
        </p>
      </div>
      <div class="col-lg-4 col-sm-4">
        <p>
          <strong>Leave To:</strong>
          <%= @leave.leave_to %>
        </p>
      </div>
    </div>
  </div>
</div>
<p>
  <div class ="text-center">
    <strong>Calculated days of leave</strong>
    <%if @leave.halfday == true %>
      <h2><%= (@leave.leave_to - @leave.leave_from ).to_f + 0.5 %></h2><br/><br/><br/>
    <%else%>
      <h2><%= (@leave.leave_to - @leave.leave_from ).to_i %></h2><br/><br/><br/>
    <%end%>
      <%if current_user %>
        <%= form_for @leave, url: {action: "approve"} do  |leave|%>
          <div class="btn ">
            <%= leave.submit "Approve",:class => "btn btn-success btn-xs", :value => 'Approve'%>
          </div>
        <% end %>
      <%end%>
      <%if current_user %>
        <%= form_for @leave, url: {action: "reject"} do  |leave|%>
          <div class="btn ">
            <%= leave.submit "Reject",:class => "btn btn-danger btn-xs", :value => 'Reject'%>
          </div>
        <% end %> 
      <%end%>
    <%= link_to "back", leaves_path%>
  </div>
</p>