<div class="panel panel-primary">
  <div class="panel-body">
    <div class="row invoice-list">
      <div class="col-lg-4 col-sm-4">
        <p>
          <strong>Model No</strong>
          <%= @hardware.model_no %>
        </p>
      </div>
      <div class="col-lg-4 col-sm-4">
        <p>
          <strong>Name</strong>
           <%= @hardware.name %>
        </p>
      </div>
      <div class="col-lg-4 col-sm-4">
        <p>
          <strong>Purchase Date</strong>
          <%= @hardware.purchase_date %>
        </p>
      </div>
      <div class="col-lg-4 col-sm-4">
        <p>
          <strong>Brand</strong>
          <%= @hardware.brand %>
        </p>
      </div>
      <div class="col-lg-4 col-sm-4">
        <p>
          <strong>Description</strong>
            <%= @hardware.description %>
        </p>
      </div>
      <div class="col-lg-4 col-sm-4">
        <p>
          <strong>Token</strong>
            <%= @hardware.token_no %>
        </p>
      </div>
    </div>
  </div>
</div>