<li class="sub-menu menu-item-leaves">
  <%= link_to leaves_path do %>
    <i class="fa fa-calendar"></i>
    <span>Leave</span>
  <% end %>
</li>

<li class="sub-menu menu-item-holidays">
  <%= link_to holidays_path do %>
    <i class="fa fa-calendar"></i>
    <span>Holiday</span>
  <% end %>
</li>

<li class="sub-menu menu-item-holidays">
  <%= link_to hardwares_path do %>
    <i class="fa fa-briefcase"></i>
    <span>Hardware</span>
  <% end %>
</li>

<li class="sub-menu menu-item-holidays">
  <%= link_to employees_path do %>
    <i class="fa fa-male"></i>
    <span>Employee</span>
  <% end %>
</li>

<li class="sub-menu menu-item-holidays">
  <%= link_to salaries_path do %>
    <i class="fa fa-certificate"></i>
    <span>Salary</span>
  <% end %>
</li>

<li class="sub-menu menu-item-holidays">
  <%= link_to items_index_path do %>
    <i class="fa fa-check"></i>
    <span>Item</span>
  <% end %>
</li>