<!DOCTYPE html>
<html>
<head>
  <title>LeaveApplication</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
<section id= "container">
<header>
<a href="" class="logo">Leave <span>Application</span> <div class="small">(Alfa!)</div></a>
  <div class= "top-nav">
    <ul class="nav pull-right top-menu">
      <li><input type="text" class="form-control search"></li>
      <% if user_signed_in? %>
        <li class="dropdown">          
          <a data-toggle="dropdown" class="dropdown-toggle current_user_nav" href="#">
          <span class="username"><%= current_user.email %></span>
          <b class="caret"></b></a>
          <ul class="dropdown-menu extended logout">
          <div class="log-arrow-up"></div>
            <li><%#= link_to(edit_user_path(current_user.id)) do %>
              <i class="fa fa-cog"></i> Setting<%# end %>
            </li>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            </li>
          </ul>
        </li>
      <%end%>
      <% if employee_signed_in? %>
        <li class="dropdown">          
          <a data-toggle="dropdown" class="dropdown-toggle current_user_nav" href="#">
          <span class="username"><%= current_employee.email %></span>
          <b class="caret"></b></a>
          <ul class="dropdown-menu extended logout">
          <div class="log-arrow-up"></div>
            <li><%#= link_to(edit_user_path(current_user.id)) do %>
              <i class="fa fa-cog"></i> Setting<%# end %>
            </li>
            <li><%= link_to('Logout', destroy_employee_session_path, :method => :delete) %>
            </li>
          </ul>
        </li>
      <%end%>
    </ul>
  </div>
</header>
<aside><br/><br/><br/><div>
  <ul><li>
    <a href="#">
      <i class="fa fa-dashboard"></i>
      <span>Dashboard</span>
    </a></li>
    <% if current_user %>
    	<%= render 'layouts/admin_menu' %>
    <% elsif current_employee %>
    	<%= render 'layouts/employee_menu' %>
    <%end%>
   </ul> 
</aside>
    <section id="main-content">
      <section class="wrapper site-min-height">
          <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
          <% end %>
          <%= yield %>
      </section>
    </section>
</div>
</aside>
</section>
<div class= "text-center">
<% if user_signed_in? %>
 <div class="btn btn-default" ><%= link_to 'Sign out', destroy_user_session_path ,:method => 'delete' %></div></br></br>
 <div class="btn btn-default" ><%= link_to "Edit Password",edit_user_registration_path %></div>
<% end %>
<% if employee_signed_in? %>
<li><%= link_to 'Sign out', destroy_employee_session_path ,:method => 'delete' %></li>
<li><%= link_to "Edit Password",edit_employee_registration_path %></li>
<% end %>
</div>
</body>
</html>
